html {
  font-size: 16px;
}
body {
  margin: 2px;
}
header {
  padding-bottom: 10px;
  background-color: #8383BB;
  background-image: url("images/hero-photo.jpg");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 100%
}
footer {
  background-color: #A7A7E6;
  padding: 20px;
}
section {
  background-color: #F7F7F7;
}
.top {
  color: #FFFFFF;
  background-color: #0C003A;
  padding: 10px;
  border-bottom: 1px solid #FFFFFF;
}
.top p {
  font-family: Verdana;
  font-size: 2em;
  text-align: center;
}
#main_logo {
  display: block;
  margin: 10px auto;
  width: 10%;
}
h1 {
  text-align: center;
}
section h1 {
  border: 1px solid #B1B1B1;
  background-color: #FFFFFF;
}
header h1, .name {
  color: #FFF5A1;
  font-variant: small-caps;
}
header h1 {
  font-size: 2.5em;
}
.name {
  font-size: 1.5em;
}
.news h2:hover {
  text-decoration: none;
}
#unlock {
  background-color: #DC772C;
  margin-top: 20px;
  width: 45%;
  display: block;
  margin: 0 auto;
}
blockquote {
  margin: 10px;
}
.news img {
  height: 150px;
  display: block;
  margin: 0 auto;
}
.hidden {
  display: none;
}
.visible {
  display: block;
}
.small {
  font-size: .7em;
}
.img-thumbnail {
  height: 100px;
}
.logos {
  text-align: center;
}
.date {
  font-style: italic;
  font-size: .9em;
}
.social {
  height: 30px;
  margin: 5px;
}

/*Arrange logo images*/
@media screen and (min-width: 737px) and (max-width: 1200px) {
  .logos img {
    margin: 0 20px;
  }
}
